:root {
  --primary-text-color: #212121;
  --secondayr-text-color: #ffffff;
  --tetriary-text-color: #f5f4fa;
  --accent-colo: #2196f3;
  --description-text: #757575;
  --background-color: #2f303a;
  --border-color: #eeeeee;
  --sprite-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--primary-text-color);
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  border: none;
}

.list {
  list-style: none;
}

.section {
  padding: 94px 0px;
}

/* Header */

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 90px;
  display: block;
  padding: 24px 0px 25px 0;
}

.logo-web,
.logo-footer-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.logo-studio {
  padding-top: 24px;
}

.header-list {
  display: flex;
}

.header-item:not(:first-child) {
  margin-left: 50px;
}

.header-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding: 32px 0px;
}

.header-link.current {
  position: relative;
  color: var(--accent-colo);
}

.header-link.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-colo);
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--accent-colo);
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--accent-colo);
  color: var(--secondayr-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-container {
  margin-left: auto;
}

.contacts-wrap {
  display: flex;
}

.contacts-wrap-item a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-contact {
  margin-left: 50px;
}

.header-contact {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--description-text);
}

.header-contact:hover svg,
.header-contact:focus svg,
.header-contact:active svg {
  fill: var(--accent-colo);
}

.header-contact svg {
  fill: var(--description-text);
}

.header-mailto {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--description-text);
}

.header-mailto:hover svg,
.header-mailto:focus svg,
.header-mailto:active svg {
  fill: var(--accent-colo);
}

.header-mailto svg {
  fill: var(--description-text);
}

/* Hero Section */

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg.png), linear-gradient(#c4c4c4, #c4c4c4);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero {
  padding: 200px 0px;
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-liste-wrap {
  text-align: center;
  padding-top: 94px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondayr-text-color);
  text-align: center;
  max-width: 696px;
  margin-top: 30px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  padding: 10px 32px 10px 32px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-portfolio:hover,
.btn-portfolio:focus,
.btn-portfolio:active {
  background-color: var(--accent-colo);
  color: var(--secondayr-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.services-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  padding: 20px 24px 4px 24px;
}

.services-list-pre-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--description-text);
  padding: 0px 24px 20px 24px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 94px 0px;
}

.portfolio-liste-wrap li:nth-child(3n + 2),
.portfolio-liste-wrap li:nth-child(3n + 3) {
  margin-left: 30px;
}

.portfolio-liste-wrap li:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

.services-list-portfolio:hover,
.services-list-portfolio:focus,
.services-list-portfolio:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.services-wrap-details {
  position: relative;
  overflow: hidden;
}

.services-details {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--secondayr-text-color);
}

.specification-wrap-details {
  position: relative;
}

.specification-details {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondayr-text-color);
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-list-portfolio:hover .services-details {
  transform: translateY(0);
}

/* Hide heading */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Features Section */

.features-icon {
  padding: 25px 100px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-title {
  width: calc((100% - 90px) / 4);
}

.features-title:not(:first-child) {
  margin-left: 30px;
}

.features-title-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-top: 30px;
}

.features-pre-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--description-text);
}

/* Specification Section */

.specification {
  padding-bottom: 94px;
}

.clients-title,
.specification-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 50px;
  text-align: center;
}

.specification-list {
  display: flex;
}

.specification-item {
  width: calc((100%-60px) / 3);
}

.specification-item:not(:first-child) {
  margin-left: 30px;
}

/* Team Section */

.team {
  background-color: #f5f4fa;
}

.team-title-list {
  display: flex;
}

.team-list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: rgba(255, 255, 255, 1);
}

.team-list:not(:first-child) {
  margin-left: 30px;
}

.team-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  padding: 30px 0px 10px 0px;
}

.team-employee-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
  color: var(--description-text);
  padding-bottom: 16px;
}

.team-list-social {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.social-item:not(:first-child) {
  margin-left: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-colo);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link svg {
  fill: var(--sprite-color);
}

.social-link:hover svg,
.social-link:focus svg,
.social-link:active svg {
  fill: var(--secondayr-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Clients Section */

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link svg {
  fill: currentColor;
  color: var(--sprite-color);
  padding: 0px 32px;
  border: 1px solid var(--sprite-color);
  border-radius: 4px;
}

.clients-link svg:hover,
.clients-link svg:focus,
.clients-link svg:active {
  color: var(--accent-colo);
  border-color: var(--accent-colo);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */

.footer-wrap {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--background-color);
}

.footer {
  padding: 60px 0px;
}

.footer-logo-wrapper {
  display: flex;
  flex-direction: column;
}

.logo-footer-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondayr-text-color);
}

.footer-address {
  font-style: normal;
}

.item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondayr-text-color);
}

.footer-mailto,
.footer-contact {
  color: #ffffff60;
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondayr-text-color);
}

.footer-social-list {
  display: flex;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background: var(--accent-colo);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link svg {
  fill: var(--secondayr-text-color);
}

.footer-social-item:not(:first-child) {
  margin-left: 10px;
}

.footer-social-item {
  padding-top: 20px;
}

.footer-list {
  padding-top: 20px;
}

.footer-item {
  padding-bottom: 9px;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal {
  animation-name: rotation;
  animation-duration: 1000ms;
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(180deg);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.close-button svg {
  fill: rgba(0, 0, 0, 1);
}

.close-button:hover {
  background-color: var(--accent-colo);
}
